.wrapper {
  width: 100%;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
  background-color: hsl(var(--background));
  padding: 10px 0;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(var(--border));
}

@keyframes scrollLeft {
  to {
    left: -300px;
  }
}

.item {
  width: 400px;
  height: inherit;
  border-radius: 6px;
  position: absolute;
  animation: scrollLeft 35s infinite linear;
  padding: inherit;
}

.item svg {
  margin: 0 15px;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: hsl(var(--primary));
}

.wrapper:hover .item {
  animation-play-state: paused;
}
